*.dll
*.suo
www/bin/
www/obj/
www/js/*.js
www/js/objects/*.js
platforms/android/build/
platforms/android/CordovaLib/build/
platforms/android/.gradle/
platforms/android/.idea/
*.map
*.user
*.pdb
platforms/android/android.iml
platforms/android/CordovaLib/CordovaLib.iml